html,body {
    background: rgb(33,33,33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}
h1 {
    text-align: center;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
body{
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
}

.editor {
    width: 50%;
}

.simulation{
    width: 50%;
    display: flex;
    padding: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.canvas-wrapper {
    display: block;
}

 #simulation-canvas {
    border-radius: 1em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

#simulation-console{
    font-family:monospace;
    color: green;
    border-radius: 1em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-width: 10em;
    padding: 1em;
}

#monaco-editor-root {
    height: calc(100vh - 7.5rem - 70px);
}

.actions {
    display: flex;
    flex-direction: row;
    padding: 1em 5%;
    justify-content: flex-end;
    gap: 1em;
}

.actions button{
    background-color: yellow;
    border-radius: 2em;
    width: 6em;
    border: 1em;
    height: 2em;
    font-weight: 700;
}
.actions button:hover{
    cursor: pointer;
    border: 5px solid white;
    background-color: aquamarine;
}
